{
  "openapi": "3.1.0",
  "info": {
    "title": "Orbit API",
    "version": "1.0.0",
    "description": "Public API for Orbit by YunZheng LAB (AS204921): authoritative DNS, Shield CDN, security rules, hosted RPKI and compute.\n\nAuthenticate with `Authorization: Bearer orb_…` (create tokens in the console under **API tokens**; API access must be enabled on your account).\nErrors are always `{ \"error\": { \"code\", \"message\" } }`. Tokens are limited to 300 requests per minute (`X-RateLimit-*` headers).\nEvery response carries `X-Orbit-Api-Version: 1`. The legacy `/api/*` RPC endpoints remain for the console and are deprecated for integrations.",
    "contact": {
      "name": "YunZheng LAB",
      "url": "https://helpdesk.yunzheng.space"
    }
  },
  "servers": [
    {
      "url": "https://dash.yunzheng.space/api/v1"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Identity, API tokens and console sessions"
    },
    {
      "name": "Realtime",
      "description": "Voice and video rooms served from the points of presence: media goes to one machine's own address, never to the anycast one"
    },
    {
      "name": "Webhooks",
      "description": "Outbound event notifications, signed with HMAC-SHA256"
    },
    {
      "name": "Services",
      "description": "Your Orbit services and plan quotas"
    },
    {
      "name": "DNS",
      "description": "Authoritative DNS: zones, records, DNSSEC, transfers, analytics"
    },
    {
      "name": "Shield CDN",
      "description": "Proxied hostnames: cache, WAF, waiting room, certificates"
    },
    {
      "name": "Security",
      "description": "Country / ASN / IP / ISP rules per site or zone"
    },
    {
      "name": "RPKI",
      "description": "Hosted RPKI certificate authorities and ROAs, published from our own repository"
    },
    {
      "name": "Compute",
      "description": "KVM virtual machines"
    },
    {
      "name": "RIPE",
      "description": "Link a RIPE Database API key, discover your resources, onboard reverse DNS and RPKI, edit domain objects"
    },
    {
      "name": "Migration",
      "description": "Move zones served elsewhere onto Orbit"
    },
    {
      "name": "Verify",
      "description": "Orbit Verify site keys: human verification widget (https://verify.yunzheng.space/v1.js) and a server-side check with the same request and response fields as common CAPTCHA services (siteverify"
    },
    {
      "name": "Stream",
      "description": "Live video: RTMPS in from one city, HLS out of every city"
    },
    {
      "name": "Talk",
      "description": "Instant messaging over WebSocket: conversations, live chat, and the tokens that open them"
    },
    {
      "name": "VOD",
      "description": "On-demand video: upload a file, we encode an adaptive CMAF ladder on our own nodes and deliver it from https://vod.yunzheng.space"
    },
    {
      "name": "Meet",
      "description": "Online meetings at https://meet.yunzheng.space: scheduling, the waiting room, host controls, recording into Orbit VOD, usage and audit. The meeting itself happens on the media and message nodes; this API is the organisation's view of it."
    },
    {
      "name": "Organization",
      "description": "An organisation on Orbit Workspace: its people, its invitations, its domains, and which applications it has turned on. The launcher every member opens is https://apps.yunzheng.space."
    },
    {
      "name": "Storage",
      "description": "Your own S3-compatible buckets (R2, S3 and others), and the copies Orbit makes into them. Nothing is copied unless you bind a bucket and turn a copy on."
    },
    {
      "name": "V-Gate",
      "description": "Cloud PBX: extensions, trunks, numbers, call routing, IVR, ring groups, queues, time conditions, voicemail, recordings, conference rooms and call records"
    },
    {
      "name": "YunZheng Voice",
      "description": "Voice numbers (+999): a number of your own that rings your extensions on any PBX, in any location, and is reachable from other SIP services"
    },
    {
      "name": "Billing",
      "description": "Packs sold as Stripe subscriptions: Checkout, Customer Portal, invoices. 503 billing_not_configured while Stripe is not set up"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "orb_…"
      }
    },
    "schemas": {
      "RtcRoom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "room_key": {
            "type": "string",
            "example": "orr_…"
          },
          "mode": {
            "type": "string",
            "enum": [
              "audio"
            ]
          },
          "max_peers": {
            "type": "integer"
          },
          "max_video": {
            "type": "integer",
            "description": "how many participants may publish a camera at once"
          },
          "enabled": {
            "type": "boolean"
          },
          "public_join": {
            "type": "boolean",
            "description": "whether the room answers on rtc.yunzheng.space. Off means the room is API-only and a leaked room key grants nothing."
          },
          "require_verify": {
            "type": "boolean",
            "description": "require an Orbit Verify token before a join token is issued"
          },
          "verify_level": {
            "type": "string",
            "nullable": true,
            "enum": [
              "standard",
              "strict",
              "maximum",
              null
            ],
            "description": "the security level that check runs at"
          },
          "has_passcode": {
            "type": "boolean",
            "description": "whether a passcode is set. The passcode itself is stored as an HMAC and is never returned."
          },
          "join_url": {
            "type": "string",
            "nullable": true,
            "description": "the link a participant opens; null when link access is off"
          },
          "live": {
            "type": "integer",
            "description": "participants the nodes are currently reporting"
          },
          "preferred_city": {
            "type": "string",
            "nullable": true,
            "description": "the city you asked for; a preference, not a pin"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "where the room actually is; null until the first join, and not always the one asked for — a full city is fallen back from rather than refused"
          },
          "record": {
            "type": "boolean",
            "description": "whether calls in this room are recorded, one file per participant. Requires the rtc_record pack feature to turn on; always safe to turn off."
          },
          "last_error": {
            "type": "string",
            "nullable": true,
            "description": "why the platform itself last changed something about this room — today only the monthly recording storage ceiling does that"
          },
          "system": {
            "type": "string",
            "nullable": true,
            "example": "meet",
            "description": "which product made this room on your behalf, or null for one you created. `?all=1` is what lists them."
          },
          "cascade": {
            "type": "boolean",
            "description": "nearest-location routing: each participant connects to the Orbit location nearest them, and the locations in one call are linked automatically. Off, everyone in the room connects to the one location in `city`."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RtcRoomCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "max_peers": {
            "type": "integer",
            "minimum": 2,
            "maximum": 50,
            "default": 10
          },
          "max_video": {
            "type": "integer",
            "minimum": 0,
            "default": 0,
            "description": "0 means the room carries voice only"
          },
          "enabled": {
            "type": "boolean"
          },
          "public_join": {
            "type": "boolean",
            "default": true
          },
          "require_verify": {
            "type": "boolean",
            "default": false
          },
          "verify_level": {
            "type": "string",
            "enum": [
              "standard",
              "strict",
              "maximum"
            ],
            "default": "standard"
          },
          "city": {
            "type": "string",
            "description": "which city to run in. A preference: if it is full when the first person arrives, another city takes the room. Omit to let the platform choose."
          },
          "cascade": {
            "type": "boolean",
            "default": true,
            "description": "nearest-location routing — each participant connects to the location nearest them, and the locations in one call are linked automatically. On by default for new rooms; rooms created before it existed are off until you turn it on. A change applies to the next person who joins."
          },
          "record": {
            "type": "boolean",
            "default": false,
            "description": "PATCH only. Record calls in this room: one file per participant plus a manifest, kept in Orbit's object storage and metered as rtc_rec_gb. Turning it on requires the rtc_record pack feature; turning it off never does."
          },
          "passcode": {
            "type": "string",
            "minLength": 4,
            "maxLength": 64,
            "description": "PATCH only, write-only. Omit to leave unchanged; send an empty string to remove."
          }
        }
      },
      "RtcRecording": {
        "type": "object",
        "properties": {
          "rec_id": {
            "type": "string",
            "example": "orv_…",
            "description": "public and unguessable — the address IS the capability"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "set once the node's manifest has landed"
          },
          "duration_ms": {
            "type": "integer"
          },
          "participants": {
            "type": "integer"
          },
          "bytes": {
            "type": "integer"
          },
          "state": {
            "type": "string",
            "enum": [
              "recording",
              "done",
              "failed"
            ]
          },
          "replay_url": {
            "type": "string",
            "description": "the manifest (index.json): who was in the call, and which file each of them is"
          },
          "tracks": {
            "type": "array",
            "description": "one entry per participant, in join order",
            "items": {
              "type": "object",
              "properties": {
                "file": {
                  "type": "string",
                  "example": "p1.webm"
                },
                "peer_id": {
                  "type": "string",
                  "description": "the participant id the join token carried — your own user id when the token came from your backend"
                },
                "label": {
                  "type": "string"
                },
                "video": {
                  "type": "string",
                  "description": "the video MIME type this participant published, empty when they published none"
                },
                "audio": {
                  "type": "string"
                },
                "start_ms": {
                  "type": "integer",
                  "description": "offset from the start of the call at which this participant joined"
                },
                "end_ms": {
                  "type": "integer"
                },
                "bytes": {
                  "type": "integer"
                },
                "url": {
                  "type": "string",
                  "description": "the file itself, at the same unguessable address as the manifest"
                }
              }
            }
          }
        }
      },
      "RtcCity": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "accepting": {
            "type": "boolean"
          },
          "participants": {
            "type": "integer"
          },
          "capacity": {
            "type": "integer"
          }
        }
      },
      "RtcJoin": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "a display name for this participant"
          },
          "peer_id": {
            "type": "string",
            "description": "your own identifier for this person, 8–40 of A–Z a–z 0–9 _ -. Stable across sessions is what makes a participant list and moderation mean anything. Omit it and one is generated for this join only."
          },
          "near": {
            "type": "object",
            "description": "where this participant is, for a room with `cascade` on: the location they are sent to is the one nearest this point. Your server's own location says nothing about the person's, so pass theirs — coordinates, or just a country (ISO 3166-1 alpha-2). Omit it and they join the room's first location. A value that cannot be read is ignored rather than refused.",
            "properties": {
              "lat": {
                "type": "number",
                "minimum": -90,
                "maximum": 90
              },
              "lon": {
                "type": "number",
                "minimum": -180,
                "maximum": 180
              },
              "country": {
                "type": "string",
                "example": "DE"
              }
            }
          },
          "readonly": {
            "type": "boolean",
            "default": false,
            "description": "mint an observer seat: it receives every track in the room and publishes none. The restriction is inside the signed token, so it holds at the media node rather than in your page — an observer whose offer asks to send is refused `read-only`, and an observer is left out of the participant list the others are shown. Only this endpoint can mint one; the public join path never does, because who may only watch is your application's decision about a person it has identified, not a stranger's about themselves."
          }
        }
      },
      "RtcJoined": {
        "type": "object",
        "properties": {
          "media_host": {
            "type": "string",
            "description": "the ONE machine this participant sends media to — not an anycast address. In a room with `cascade` on, the location nearest this participant."
          },
          "token": {
            "type": "string",
            "description": "hand this to the media host; valid for two minutes"
          },
          "peer_id": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "perm": {
            "type": "string",
            "enum": [
              "rw",
              "ro"
            ],
            "description": "what the token above was signed to permit — `rw` publishes and receives, `ro` only receives. A report of what was signed, never an input: this field is read from the token, and changing it changes nothing."
          },
          "ice_servers": {
            "type": "array",
            "description": "hand this to RTCPeerConnection unchanged. It is usually empty — almost every call reaches the media host directly, and the relay is only offered to the cities that run one. When it is not empty it names ONE relay under two transports (TLS on 443, plain UDP on 3478) with a credential minted for this seat: it expires, and it can relay to this node's own media address and nowhere else.",
            "items": {
              "type": "object",
              "properties": {
                "urls": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "username": {
                  "type": "string"
                },
                "credential": {
                  "type": "string"
                }
              }
            }
          },
          "room": {
            "type": "object"
          }
        }
      },
      "SiteThreats": {
        "type": "object",
        "description": "Threat intelligence for one Shield site: how much of its traffic came from subjects the platform considers risky. Aggregates only — never individual visitors.",
        "properties": {
          "range": {
            "type": "string",
            "enum": [
              "24h",
              "7d"
            ]
          },
          "since": {
            "type": "string"
          },
          "until": {
            "type": "string"
          },
          "bucket_seconds": {
            "type": "integer"
          },
          "sampled": {
            "type": "boolean",
            "description": "Always true: derived from the sampled request logs (every security event, pass-through capped per minute)"
          },
          "sample_size": {
            "type": "integer",
            "description": "Sampled requests in the window"
          },
          "totals": {
            "type": "object",
            "properties": {
              "requests": {
                "type": "integer"
              },
              "subjects": {
                "type": "integer",
                "description": "Distinct sampled client addresses (up to 500)"
              },
              "risky_subjects": {
                "type": "integer",
                "description": "Subjects in the high or critical band"
              },
              "risky_requests": {
                "type": "integer"
              },
              "blocked": {
                "type": "integer"
              },
              "challenged": {
                "type": "integer"
              }
            }
          },
          "bands": {
            "type": "array",
            "description": "Share of sampled requests per risk band (low < 30 ≤ medium < 60 ≤ high < 85 ≤ critical)",
            "items": {
              "type": "object",
              "properties": {
                "band": {
                  "type": "string"
                },
                "requests": {
                  "type": "integer"
                },
                "share": {
                  "type": "number"
                },
                "subjects": {
                  "type": "integer"
                }
              }
            }
          },
          "top_asns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "asn": {
                  "type": "integer"
                },
                "requests": {
                  "type": "integer"
                },
                "blocked": {
                  "type": "integer"
                },
                "score": {
                  "type": "integer",
                  "nullable": true
                },
                "band": {
                  "type": "string"
                },
                "tags": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "top_fingerprints": {
            "type": "array",
            "description": "Client software by its protocol fingerprints (TLS JA4 and HTTP/2), most requests first. Aggregates only: a fingerprint describes the software, never the visitor, and is never reported beside an address.",
            "items": {
              "type": "object",
              "properties": {
                "ja4": {
                  "type": "string",
                  "example": "t13d1517h2_8daaf6152771_cb7bf5808d99"
                },
                "h2fp": {
                  "type": "string",
                  "example": "1:65536;2:0;4:6291456;6:262144|15663105|0|m,a,s,p"
                },
                "requests": {
                  "type": "integer"
                },
                "blocked": {
                  "type": "integer"
                },
                "challenged": {
                  "type": "integer"
                },
                "score": {
                  "type": "integer",
                  "nullable": true,
                  "description": "Platform score of this fingerprint, or null if it has none yet"
                },
                "band": {
                  "type": "string"
                }
              }
            }
          },
          "top_countries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "cc": {
                  "type": "string"
                },
                "requests": {
                  "type": "integer"
                },
                "blocked": {
                  "type": "integer"
                },
                "risky_requests": {
                  "type": "integer"
                }
              }
            }
          },
          "tags": {
            "type": "array",
            "description": "Why subjects were considered risky",
            "items": {
              "type": "object",
              "properties": {
                "tag": {
                  "type": "string"
                },
                "subjects": {
                  "type": "integer"
                },
                "requests": {
                  "type": "integer"
                }
              }
            }
          },
          "timeline": {
            "type": "array",
            "description": "One point per bucket, oldest first, zero-filled",
            "items": {
              "type": "object",
              "properties": {
                "t": {
                  "type": "string"
                },
                "requests": {
                  "type": "integer"
                },
                "risky": {
                  "type": "integer"
                }
              }
            }
          },
          "thresholds": {
            "type": "object",
            "properties": {
              "interactive": {
                "type": "integer"
              },
              "fail": {
                "type": "integer"
              },
              "blocklist": {
                "type": "integer"
              }
            }
          }
        }
      },
      "Stream": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "playback_id": {
            "type": "string",
            "example": "ops_…"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted"
            ],
            "description": "There is no public directory, so both are reachable only by address. 'unlisted' means the address cannot be guessed; it is not access control."
          },
          "state": {
            "type": "string",
            "enum": [
              "offline",
              "live"
            ],
            "description": "whether a broadcaster is connected. It is NOT the whole answer to 'is anything playing' — see `on`."
          },
          "on": {
            "type": "string",
            "enum": [
              "live",
              "programme",
              "off"
            ],
            "description": "what viewers get right now: 'live' is somebody broadcasting, 'programme' is the channel playing its own running order because nobody is, 'off' is nothing. A programme is delivered exactly like a broadcast — one timeline, everybody at the same point."
          },
          "placement": {
            "type": "string",
            "enum": [
              "city",
              "anycast"
            ],
            "description": "how the channel is reached. 'city' is that one city's own address, over its own transit; 'anycast' is one address for the whole network, reached through ours from wherever the viewer is. Both are cached at the edge, so this changes the path, not the number of origin pulls."
          },
          "renditions": {
            "type": "integer",
            "description": "how many qualities are offered BELOW the published one. 0 means viewers receive exactly what was published."
          },
          "quality_note": {
            "type": "string",
            "description": "what a viewer will experience, in one sentence"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "when the current broadcast started; null when offline"
          },
          "ingest_url": {
            "type": "string",
            "description": "paste into OBS as the Server field. Always RTMPS — every channel has this address, whatever else it allows."
          },
          "ingest_url_rtmp": {
            "type": "string",
            "nullable": true,
            "description": "the plain RTMP address, present only while allow_rtmp is true and the ingest city opens a plaintext port. Warning: a stream key sent to this address travels unencrypted — it is the publish command's stream name, so anyone on the path sees it every time the encoder connects."
          },
          "allow_rtmp": {
            "type": "boolean",
            "description": "whether this channel also accepts plain RTMP (see ingest_url_rtmp). Off by default."
          },
          "latency_mode": {
            "type": "string",
            "enum": [
              "low",
              "standard"
            ],
            "default": "low",
            "description": "low: about 3–5 seconds behind with a keyframe every 1–2 seconds; the segment length follows the encoder's keyframe interval, so an encoder sending a keyframe every 8 seconds stays about 15 seconds behind. standard: about 15 seconds behind, and tolerant of any keyframe interval."
          },
          "delay_s": {
            "type": "integer",
            "minimum": 0,
            "maximum": 600,
            "default": 0,
            "description": "extra seconds the audience is held behind the broadcaster, applied at the origin, so it cannot be skipped by a player."
          },
          "playback_url": {
            "type": "string",
            "description": "the HLS manifest"
          },
          "page_url": {
            "type": "string",
            "description": "the hosted player page"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "where ingest lands. For an anycast channel this is where the LAST broadcast landed, not a promise about the next one."
          },
          "key_id": {
            "type": "string",
            "nullable": true,
            "description": "identifies the current key; never the key itself"
          },
          "last_error": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "record": {
            "type": "boolean",
            "description": "whether broadcasts on this channel are recorded and kept as a replayable VOD. Requires the stream_record pack feature to turn on; always safe to turn off."
          },
          "watermark": {
            "type": "string",
            "enum": [
              "off",
              "br",
              "tl"
            ],
            "default": "off",
            "description": "where a burned-in copyright mark sits on every viewer's picture: 'off', 'br' (bottom right) or 'tl' (top left). It reads “Orbit Stream” with your UID beneath it, is drawn while the broadcast is encoded rather than by the player, and is therefore in the recording as well. Turning the watermark on re-encodes the top quality instead of passing it through untouched, so the channel uses one more encoder on the ingest node and what viewers receive is no longer byte-for-byte what you published."
          },
          "watermark_note": {
            "type": "string",
            "nullable": true,
            "description": "present only while the watermark is on, saying in one sentence what it costs"
          },
          "realtime_play": {
            "type": "boolean",
            "default": false,
            "description": "near-real-time playback over WebRTC beside the HLS delivery. About one second behind, and it is the broadcaster's own picture. It needs the encoder to send no B-frames (in OBS: x264 options bf=0, or the zerolatency tune), or the node re-encodes for this path, which uses one more encoder and is no longer byte for byte what was published. A channel with a watermark is always re-encoded for this path, so the mark is in what realtime viewers see too. Viewers connect to the ingest city directly rather than to an edge, so keep large audiences on the default path."
          },
          "whep_url": {
            "type": "string",
            "nullable": true,
            "description": "the WHEP address a player POSTs an SDP offer to, present only while realtime_play is on. It is the ingest city's own address, because a WebRTC flow has nothing an edge can cache; our player tries it first and falls back to playback_url on its own."
          },
          "realtime_note": {
            "type": "string",
            "nullable": true,
            "description": "present only while realtime_play is on, saying what it is and what it needs"
          },
          "recording_store": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RecordingStore"
              }
            ],
            "description": "where this channel's recordings are kept. Everything you sent is echoed back except the secret, which is write-only."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RecordingStore": {
        "type": "object",
        "required": [
          "kind"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "ours",
              "byo"
            ],
            "default": "ours",
            "description": "'ours' keeps recordings in our storage and meters them as storage-months. 'byo' writes them into a bucket of yours over the S3 API — R2, OSS, S3 or anything else that speaks it — and is NOT charged storage-months, because we hold nothing. Transfer through us is metered as stream_gb either way."
          },
          "endpoint": {
            "type": "string",
            "nullable": true,
            "example": "https://<account>.r2.cloudflarestorage.com",
            "description": "scheme and host of the bucket service. No bucket name, no path."
          },
          "region": {
            "type": "string",
            "nullable": true,
            "default": "auto",
            "description": "'auto' for R2; the bucket's own region for AWS and Aliyun. It is part of the signature, so it has to be right."
          },
          "bucket": {
            "type": "string",
            "nullable": true
          },
          "prefix": {
            "type": "string",
            "nullable": true,
            "description": "optional folder inside the bucket; every object this channel writes lands under it."
          },
          "access_key": {
            "type": "string",
            "nullable": true
          },
          "secret": {
            "type": "string",
            "writeOnly": true,
            "description": "sent when setting or changing the credential, never returned. Stored encrypted under a Worker secret and decrypted only for the length of one write. Omit it to keep the secret already stored."
          },
          "secret_set": {
            "type": "boolean",
            "readOnly": true,
            "description": "whether a secret is stored. The secret itself is never shown again."
          }
        }
      },
      "StreamProgramme": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean",
            "default": false,
            "description": "whether the channel plays this when nobody is publishing to it. A broadcaster always pre-empts it, and it comes back after they leave."
          },
          "mode": {
            "type": "string",
            "enum": [
              "loop",
              "relay"
            ],
            "default": "loop",
            "description": "'loop' plays the items in order, forever. 'relay' re-serves one live source under this channel's own address and takes exactly one item."
          },
          "items": {
            "type": "array",
            "maxItems": 50,
            "items": {
              "$ref": "#/components/schemas/StreamProgrammeItem"
            },
            "description": "The running order, in the order given, at most 50. PUT replaces the whole list — that is how you reorder and how you remove."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "readOnly": true
          }
        }
      },
      "StreamProgrammeItem": {
        "type": "object",
        "required": [
          "kind",
          "ref"
        ],
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "recording",
              "url",
              "channel"
            ],
            "description": "'recording' is one of this account's own finished recordings; 'url' is an https address of an MP4 or an HLS playlist; 'channel' is another of this account's channels, relayed."
          },
          "ref": {
            "type": "string",
            "description": "for 'recording', the orc_… id — it must be finished, not deleted, owned by this account and kept in our storage (a recording in your own bucket is replayed from a signed address that expires, so it cannot be put in a programme). For 'url', an https address; plain http is refused. For 'channel', the other channel's ops_… playback id; in this phase it must belong to the same account, because relaying somebody else's channel needs their permission and there is nowhere yet to give it."
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "what to call this item in the console. Never shown to viewers."
          }
        }
      },
      "StreamRecordingReexport": {
        "type": "object",
        "properties": {
          "rec_id": {
            "type": "string"
          },
          "exported": {
            "type": "integer",
            "description": "objects moved out of our storage into your bucket by this call"
          },
          "held_objects": {
            "type": "integer",
            "description": "objects still held here afterwards; 0 means the recording is entirely in your bucket"
          }
        }
      },
      "StreamCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted"
            ],
            "default": "unlisted"
          },
          "placement": {
            "type": "string",
            "enum": [
              "city",
              "anycast"
            ],
            "default": "city",
            "description": "'city' publishes to one city's own address. 'anycast' publishes to one global address that always reaches the nearest city with room — a pack feature, and not combinable with `city`."
          },
          "city": {
            "type": "string",
            "description": "ingest city, for placement 'city'; omit to take whichever has room"
          },
          "renditions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 4,
            "description": "how many lower qualities to produce (1080p, 720p, 480p, 360p, highest first, never above what was published). Defaults to what the packs allow; a number above that is refused rather than capped."
          },
          "record": {
            "type": "boolean",
            "default": false,
            "description": "record broadcasts on this channel (PATCH only; a pack feature to turn on)."
          },
          "latency_mode": {
            "type": "string",
            "enum": [
              "low",
              "standard"
            ],
            "default": "low",
            "description": "PATCH only. low: about 3–5 seconds behind with a keyframe every 1–2 seconds; the segment length follows the encoder's keyframe interval, so an encoder sending a keyframe every 8 seconds stays about 15 seconds behind. standard: about 15 seconds behind. Takes effect on the next broadcast."
          },
          "delay_s": {
            "type": "integer",
            "minimum": 0,
            "maximum": 600,
            "default": 0,
            "description": "PATCH only. Extra seconds the audience is held behind the broadcaster, applied at the origin, so it cannot be skipped by a player. Takes effect on the next broadcast."
          },
          "watermark": {
            "type": "string",
            "enum": [
              "off",
              "br",
              "tl"
            ],
            "default": "off",
            "description": "PATCH only. Burn a copyright mark into every viewer's picture: 'off', 'br' (bottom right) or 'tl' (top left). Turning the watermark on re-encodes the top quality instead of passing it through untouched, so the channel uses one more encoder on the ingest node and what viewers receive is no longer byte-for-byte what you published. Takes effect on the next broadcast."
          },
          "allow_rtmp": {
            "type": "boolean",
            "default": false,
            "description": "PATCH only. Also accept plain RTMP on this channel, for encoders that cannot do TLS. Warning: a stream key sent over plain RTMP travels unencrypted, because the key is the publish command's stream name. Takes effect on the next broadcast; the RTMPS address keeps working either way."
          },
          "realtime_play": {
            "type": "boolean",
            "default": false,
            "description": "PATCH only. Offer near-real-time playback over WebRTC beside the HLS delivery, at whep_url. About one second behind, and it is the broadcaster's own picture. It needs the encoder to send no B-frames (in OBS: x264 options bf=0, or the zerolatency tune), or the node re-encodes for this path, which uses one more encoder and is no longer byte for byte what was published. A channel with a watermark is always re-encoded for this path, so the mark is in what realtime viewers see too. Viewers connect to the ingest city directly rather than to an edge, so keep large audiences on the default path. A viewer who joins between keyframes waits up to one keyframe interval for a picture. Takes effect on the next broadcast; HLS keeps working either way."
          },
          "recording_store": {
            "allOf": [
              {
                "$ref": "#/components/schemas/RecordingStore"
              }
            ],
            "description": "PATCH only. Send { kind: 'byo', endpoint, region, bucket, prefix, access_key, secret } to keep this channel's recordings in your own bucket, or { kind: 'ours' } to bring them back to ours (which forgets the credentials). Saving PROVES the bucket works: we write a test object under the prefix, read it back and delete it, and refuse the setting in one sentence if any of that fails."
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "StreamWithKey": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Stream"
          },
          {
            "type": "object",
            "properties": {
              "stream_key": {
                "type": "string",
                "description": "shown once, at creation. It cannot be recovered; rotate to get a new one"
              },
              "note": {
                "type": "string",
                "description": "when the key starts being accepted"
              }
            }
          }
        ]
      },
      "StreamKeyRotate": {
        "type": "object",
        "properties": {
          "revoke_now": {
            "type": "boolean",
            "default": false,
            "description": "also end the broadcast on air. Without it the broadcast continues on the old key until it ends"
          }
        }
      },
      "StreamKeyIssued": {
        "type": "object",
        "properties": {
          "key_id": {
            "type": "string"
          },
          "stream_key": {
            "type": "string"
          },
          "previous_key_id": {
            "type": "string",
            "nullable": true
          },
          "note": {
            "type": "string",
            "description": "when the new key starts being accepted"
          }
        }
      },
      "StreamSession": {
        "type": "object",
        "properties": {
          "session": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_reason": {
            "type": "string",
            "nullable": true
          },
          "bytes_in": {
            "type": "integer"
          },
          "bytes_out": {
            "type": "integer",
            "description": "what left the ingest node: segments pulled by the edges, plus anything sent straight to near-real-time viewers"
          },
          "width": {
            "type": "integer",
            "nullable": true
          },
          "height": {
            "type": "integer",
            "nullable": true
          },
          "fps": {
            "type": "integer",
            "nullable": true
          },
          "vbps": {
            "type": "integer",
            "nullable": true
          },
          "plain": {
            "type": "boolean",
            "description": "whether this broadcast was published over plain RTMP rather than RTMPS, i.e. whether its stream key was sent unencrypted. Recorded per broadcast and not changed by turning the channel's switch off afterwards."
          },
          "programme": {
            "type": "boolean",
            "description": "whether this session was the channel playing its own programme rather than somebody broadcasting to it. Its bytes_out is metered as transfer; it has no bytes_in and counts no ingest-minutes."
          },
          "realtime_encode": {
            "type": "boolean",
            "description": "whether the node had to re-encode the picture for the near-real-time path during this broadcast, because the encoder sent B-frames. A broadcast whose encoder sent none is forwarded untouched and costs no encoder."
          },
          "realtime_viewers": {
            "type": "integer",
            "description": "the largest number of near-real-time viewers this broadcast carried at once. Their traffic is in bytes_out with everything else."
          },
          "ingest_behind_ms": {
            "type": "integer",
            "description": "the furthest the media we received ever fell behind the wall clock during this broadcast, in milliseconds. It grows when the publisher's uplink or a relay in front of us buffers and sends late, so the fix is a lower bitrate or a better network at that end."
          },
          "encode_behind_ms": {
            "type": "integer",
            "description": "the furthest the media we had written ever fell behind the media we had received, in milliseconds. It grows when the ingest node cannot encode this channel in real time, and it sits at up to one segment length even on a healthy broadcast because the segment being written is not in the playlist yet."
          },
          "stall_ms": {
            "type": "integer",
            "description": "the longest the ingest node's writes into its encoder blocked for in any twenty-second interval of this broadcast, in milliseconds. When this is more than a few hundred, the node was slowing the publisher down and the publisher's encoder will have reported dropped frames; the fix is fewer qualities, the watermark off, or a lower frame rate on this channel."
          }
        }
      },
      "StreamCity": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "accepting": {
            "type": "boolean"
          },
          "streams": {
            "type": "integer"
          },
          "capacity": {
            "type": "integer"
          },
          "direct": {
            "type": "boolean",
            "description": "whether this city has an address of its own that viewers connect to directly. Without one its channels are still delivered, on the address the whole network shares."
          }
        }
      },
      "StreamRecording": {
        "type": "object",
        "properties": {
          "rec_id": {
            "type": "string",
            "example": "orc_…",
            "description": "public and unguessable — the address IS the capability. A private recording is only ever reached through it."
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "set once the broadcast's final segment has been folded into the VOD playlist"
          },
          "duration_ms": {
            "type": "integer"
          },
          "segments": {
            "type": "integer"
          },
          "bytes": {
            "type": "integer"
          },
          "state": {
            "type": "string",
            "enum": [
              "recording",
              "done",
              "failed"
            ]
          },
          "store": {
            "type": "string",
            "enum": [
              "ours",
              "byo"
            ],
            "description": "which bucket this recording's objects are in — the channel's setting at the time it was recorded, not now."
          },
          "held_objects": {
            "type": "integer",
            "description": "objects of this recording sitting in OUR storage because your bucket refused them. 0 is the ordinary case; anything else is what a re-export moves."
          },
          "replay_url": {
            "type": "string",
            "nullable": true,
            "description": "a VOD HLS playlist the same player plays. For a 'byo' recording this is a short-lived signed address against your own bucket, minted on each read and never stored; null while the recording is unfinished or partly held here."
          },
          "replay_note": {
            "type": "string",
            "description": "present only when there is no replay address, saying why in one sentence"
          },
          "title": {
            "type": "string",
            "nullable": true,
            "description": "what the watch page calls this recording; null falls back to '<channel> · <date>'."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "a sentence or two shown under the title on the watch page."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ],
            "description": "who may reach the watch page: 'public' is listed in the library and indexable; 'unlisted' is reachable only by its link and listed nowhere; 'private' is the owner (or an admin) only, a 404 to anyone else."
          },
          "passcode_set": {
            "type": "boolean",
            "description": "whether the watch page asks for a passcode first. The passcode itself is never returned; send passcode:'' in an update to clear it."
          },
          "published_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "when this recording first became public; null until it has been. The library orders by it."
          },
          "views": {
            "type": "integer",
            "description": "a coarse, deduped count of watch-page hits — one per viewer per minute, never a per-viewer history."
          },
          "watch_url": {
            "type": "string",
            "description": "the shareable watch page. Omitted for a private recording you do not own."
          },
          "channel": {
            "type": "string",
            "nullable": true,
            "description": "the channel's name (on a single-recording GET only)."
          },
          "playback_id": {
            "type": "string",
            "nullable": true,
            "description": "the channel's public id (on a single-recording GET only, for the owner or an admin)."
          }
        }
      },
      "StreamRecordingUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "nullable": true,
            "description": "what to call this recording on its watch page. Null or omitted leaves it as the '<channel> · <date>' default."
          },
          "description": {
            "type": "string",
            "nullable": true,
            "description": "a sentence or two under the title. Null clears it."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ],
            "description": "'public' lists it in the library and lets it be indexed; 'unlisted' keeps it reachable only by its link; 'private' restricts it to you (or an admin). The first time you make a recording public it takes a publication date the library orders by."
          },
          "passcode": {
            "type": "string",
            "writeOnly": true,
            "description": "set to require a passcode on the watch page (stored only as a hash, never returned); send an empty string to clear it. A wrong passcode is throttled."
          }
        }
      },
      "TalkRoom": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "example": "otk_…",
            "description": "the capability. Whoever holds it may ask to join; the passcode and human verification are what decide whether they may."
          },
          "kind": {
            "type": "string",
            "enum": [
              "room",
              "live"
            ],
            "description": "'room' keeps history for `retention_days`. 'live' keeps the last few hundred messages in memory and nothing on disk — it is what a broadcast's chat is."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted"
            ]
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "where this conversation lives. Its history lives there too, so it does not move."
          },
          "peers": {
            "type": "integer",
            "description": "people connected, as of the last report"
          },
          "messages": {
            "type": "integer",
            "description": "messages this conversation has ever carried"
          },
          "max_peers": {
            "type": "integer"
          },
          "max_kbps": {
            "type": "integer"
          },
          "retention_days": {
            "type": "integer",
            "description": "0 for a live room, whose history is never written down"
          },
          "message_max_bytes": {
            "type": "integer"
          },
          "needs_passcode": {
            "type": "boolean"
          },
          "public_join": {
            "type": "boolean",
            "description": "false means this conversation answers nothing on the public join path, and a leaked key buys an attacker nothing"
          },
          "join_url": {
            "type": "string",
            "nullable": true,
            "description": "the hosted page, when public join is on"
          },
          "last_error": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "system": {
            "type": "string",
            "nullable": true,
            "example": "meet",
            "description": "Which product made this conversation on your behalf, or null for one you created. `?all=1` is what lists them."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TalkRoomCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "room",
              "live"
            ],
            "default": "room"
          },
          "city": {
            "type": "string",
            "description": "where it lives. A pack feature; omit it and the city with the most room takes it."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted"
            ],
            "default": "unlisted"
          },
          "max_peers": {
            "type": "integer",
            "description": "people at once, up to what the packs allow and never above 20000"
          },
          "max_kbps": {
            "type": "integer",
            "description": "what one sender may push"
          },
          "retention_days": {
            "type": "integer",
            "description": "ignored for a live room"
          },
          "public_join": {
            "type": "boolean",
            "default": true
          },
          "enabled": {
            "type": "boolean"
          }
        }
      },
      "TalkPasscode": {
        "type": "object",
        "properties": {
          "passcode": {
            "type": "string",
            "nullable": true,
            "description": "an empty value clears it. What is stored is an HMAC; there is nothing to read back."
          }
        }
      },
      "TalkPasscodeSet": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "needs_passcode": {
            "type": "boolean"
          }
        }
      },
      "TalkJoinRequest": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "the display name this participant appears under"
          },
          "peer_id": {
            "type": "string",
            "description": "your own identifier for them; one is generated when omitted"
          },
          "readonly": {
            "type": "boolean",
            "default": false,
            "description": "mint a seat that reads the conversation and cannot write to it. The restriction is inside the signed token, so it holds at the node rather than in your page: a read-only seat that sends is answered `read-only` and stays connected, still receiving. Only this endpoint can mint one — the public join path never does, because who may only read is your application's decision about a person it has identified, not a stranger's about themselves."
          }
        }
      },
      "TalkJoin": {
        "type": "object",
        "properties": {
          "room": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "peer_id": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "perm": {
            "type": "string",
            "enum": [
              "rw",
              "ro"
            ],
            "description": "what the token you were just handed permits. `ro` is a seat that reads and cannot write. This is a report of what was signed — the node reads the token, never this field."
          },
          "host": {
            "type": "string",
            "description": "open a WebSocket to wss://<host>:<port>/v1?token=<token>"
          },
          "port": {
            "type": "integer",
            "default": 8643
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "token": {
            "type": "string"
          },
          "expires_in": {
            "type": "integer"
          },
          "max_peers": {
            "type": "integer"
          },
          "max_kbps": {
            "type": "integer"
          },
          "message_max_bytes": {
            "type": "integer"
          }
        }
      },
      "TalkHistory": {
        "type": "object",
        "description": "A page of a conversation, read from the machine that holds it. Messages are never copied into the control plane, and every read of one is recorded in your account's audit log.",
        "properties": {
          "room": {
            "type": "integer",
            "description": "the conversation this page came from"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "where it lives"
          },
          "from": {
            "type": "integer",
            "description": "the cursor this page was read from"
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TalkMessage"
            },
            "description": "oldest first, ascending by `seq`"
          },
          "next": {
            "type": "integer",
            "nullable": true,
            "description": "the cursor for the next page, or null when this is everything the node holds. A short page is proof there is no more, so it never carries one."
          },
          "note": {
            "type": "string",
            "description": "present only when there was something to say about an otherwise ordinary answer — a live chat, which writes no history down, answers with an empty page and this sentence."
          }
        }
      },
      "TalkMessage": {
        "type": "object",
        "properties": {
          "seq": {
            "type": "integer",
            "description": "the conversation's own number for this message, ascending and never reused"
          },
          "id": {
            "type": "string",
            "description": "the sender's idempotency key — a resend after a reset carries the same one and is answered with the seq the first copy already has"
          },
          "peer": {
            "type": "string",
            "description": "who sent it. Through the backend door this is your own user id; through the public one it is a guest's seat and means nothing outside the conversation."
          },
          "label": {
            "type": "string",
            "description": "the display name they appeared under"
          },
          "body": {
            "type": "string"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TalkMinute": {
        "type": "object",
        "properties": {
          "minute": {
            "type": "string"
          },
          "messages": {
            "type": "integer"
          },
          "bytes_in": {
            "type": "integer"
          },
          "bytes_out": {
            "type": "integer"
          },
          "peer_seconds": {
            "type": "integer"
          },
          "peak_peers": {
            "type": "integer"
          }
        }
      },
      "TalkCity": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string"
          },
          "accepting": {
            "type": "boolean"
          },
          "connections": {
            "type": "integer"
          },
          "capacity": {
            "type": "integer"
          }
        }
      },
      "VodAsset": {
        "type": "object",
        "properties": {
          "asset_id": {
            "type": "string",
            "example": "ovd_…",
            "description": "22 random characters. For an unlisted video the address IS the access control."
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "state": {
            "type": "string",
            "enum": [
              "uploading",
              "processing",
              "ready",
              "failed",
              "removed"
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ]
          },
          "duration_ms": {
            "type": "integer"
          },
          "width": {
            "type": "integer"
          },
          "height": {
            "type": "integer"
          },
          "bytes_original": {
            "type": "integer"
          },
          "bytes_hls": {
            "type": "integer",
            "description": "what the encoded ladder occupies"
          },
          "ladder": {
            "type": "array",
            "description": "the qualities this video carries, tallest first",
            "items": {
              "$ref": "#/components/schemas/VodRendition"
            }
          },
          "playback_url": {
            "type": "string",
            "nullable": true,
            "description": "the master playlist. null for a private video — ask POST /vod/assets/{id}/playback for a signed one, and for one that is not ready yet."
          },
          "poster_url": {
            "type": "string",
            "nullable": true
          },
          "embed_url": {
            "type": "string",
            "nullable": true
          },
          "progress": {
            "type": "integer",
            "nullable": true,
            "minimum": 0,
            "maximum": 100,
            "description": "how far the transcode has got, while it is running"
          },
          "stage": {
            "type": "string",
            "nullable": true,
            "example": "encode 720p",
            "description": "what the node is doing right now: download, probe, encode <height>, upload, poster"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "ready_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "VodAssetCreate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "description": {
            "type": "string",
            "maxLength": 5000
          },
          "tags": {
            "oneOf": [
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "type": "string",
                "description": "comma separated"
              }
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "unlisted",
              "private"
            ],
            "default": "private",
            "description": "private needs the vod_private feature"
          }
        }
      },
      "VodAssetPatch": {
        "$ref": "#/components/schemas/VodAssetCreate"
      },
      "VodUploadBegin": {
        "type": "object",
        "required": [
          "size"
        ],
        "properties": {
          "size": {
            "type": "integer",
            "description": "the file's exact size in bytes. Required: the part count and the sealed object are both checked against it."
          },
          "content_type": {
            "type": "string",
            "example": "video/mp4"
          },
          "filename": {
            "type": "string"
          }
        }
      },
      "VodUpload": {
        "type": "object",
        "properties": {
          "upload_id": {
            "type": "string",
            "example": "ovu_…"
          },
          "asset_id": {
            "type": "string"
          },
          "part_size": {
            "type": "integer",
            "description": "bytes per part (16777216)"
          },
          "parts": {
            "type": "integer",
            "description": "how many parts the size you declared may be cut into"
          },
          "max_bytes": {
            "type": "integer",
            "description": "the largest original accepted (34359738368)"
          }
        }
      },
      "VodUploadPart": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "part": {
            "type": "integer"
          },
          "parts": {
            "type": "integer",
            "description": "parts received so far"
          },
          "bytes": {
            "type": "integer"
          }
        }
      },
      "VodRendition": {
        "type": "object",
        "properties": {
          "height": {
            "type": "integer"
          },
          "bandwidth": {
            "type": "integer"
          },
          "codec": {
            "type": "string",
            "nullable": true,
            "example": "avc1.4d401f,mp4a.40.2"
          },
          "playlist": {
            "type": "string",
            "nullable": true,
            "description": "the media playlist under the delivery host"
          }
        }
      },
      "VodReprocess": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "job_id": {
            "type": "string"
          },
          "ladder": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VodRendition"
            }
          }
        }
      },
      "VodPlaybackRequest": {
        "type": "object",
        "properties": {
          "expires_in": {
            "type": "integer",
            "minimum": 60,
            "maximum": 604800,
            "default": 3600,
            "description": "private videos only: how long the signed link lives, in seconds"
          }
        }
      },
      "VodPlayback": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "the master playlist, signed when the video is private"
          },
          "poster_url": {
            "type": "string",
            "nullable": true
          },
          "embed_url": {
            "type": "string",
            "nullable": true
          },
          "visibility": {
            "type": "string"
          },
          "signed": {
            "type": "boolean"
          },
          "key_id": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "null when the link does not expire"
          }
        }
      },
      "VodKey": {
        "type": "object",
        "properties": {
          "key_id": {
            "type": "string",
            "example": "vk_…"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "revoked_at": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VodKeyCreate": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "maxLength": 100
          }
        }
      },
      "VodKeyCreated": {
        "type": "object",
        "properties": {
          "key_id": {
            "type": "string"
          },
          "key": {
            "type": "string",
            "description": "the signing secret (ovp_…). Shown once — store it now. Sign `<asset_id>.<exp>` with HMAC-SHA256 and send it as ?exp=&kid=&sig= (base64url, unpadded)."
          },
          "note": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VodWebhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "url": {
            "type": "string"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "asset.ready",
                "asset.failed",
                "asset.deleted",
                "*"
              ]
            }
          },
          "enabled": {
            "type": "boolean"
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "VodWebhookCreate": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Public https:// endpoint"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "asset.ready",
                "asset.failed",
                "asset.deleted",
                "*"
              ]
            }
          },
          "note": {
            "type": "string"
          }
        }
      },
      "VodWebhookCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VodWebhook"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "description": "Shown once; signs the delivery"
              },
              "note_delivery": {
                "type": "string"
              }
            }
          }
        ]
      },
      "MeetMeeting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "mtg_…"
          },
          "code": {
            "type": "string",
            "nullable": true,
            "example": "abc-defg-hij",
            "description": "The 3-4-3 letter meeting code. Null once it has been recycled — a code returns to circulation thirty days after the meeting ended, and the meeting's own record outlives it."
          },
          "title": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "instant",
              "scheduled"
            ]
          },
          "starts_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "ends_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tz": {
            "type": "string"
          },
          "rrule": {
            "type": "string",
            "nullable": true,
            "enum": [
              "daily",
              "weekly",
              "monthly",
              null
            ]
          },
          "rrule_until": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "next_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "The next occurrence, computed when the meeting is written so a list can be ordered by it"
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "ended",
              "deleted"
            ]
          },
          "settings": {
            "type": "object",
            "properties": {
              "waiting_room": {
                "type": "boolean",
                "description": "Everybody who is not the host waits until a host lets them in"
              },
              "guests_allowed": {
                "type": "boolean",
                "description": "Whether somebody without a YunZheng account may join with a name"
              },
              "mute_on_entry": {
                "type": "boolean"
              },
              "cam_off_on_entry": {
                "type": "boolean"
              },
              "chat": {
                "type": "boolean"
              },
              "reactions": {
                "type": "boolean"
              },
              "share_policy": {
                "type": "string",
                "enum": [
                  "anyone",
                  "host_only",
                  "host_approve"
                ]
              },
              "record_policy": {
                "type": "string",
                "enum": [
                  "off",
                  "host",
                  "auto"
                ]
              },
              "host_must_join_first": {
                "type": "boolean"
              },
              "locked_default": {
                "type": "boolean"
              },
              "city": {
                "type": "string",
                "nullable": true,
                "description": "Which city the meeting's rooms prefer. A preference, not a pin: a full city is fallen back from rather than refused."
              },
              "passcode": {
                "type": "boolean",
                "description": "Whether a passcode is set. The passcode itself is stored as an HMAC and is never returned."
              }
            }
          },
          "join_url": {
            "type": "string",
            "nullable": true
          },
          "ics_url": {
            "type": "string"
          },
          "owner_email": {
            "type": "string"
          },
          "session_id": {
            "type": "string",
            "nullable": true,
            "description": "The session running right now, or null"
          },
          "live": {
            "type": "boolean",
            "description": "Whether a session of it is running right now"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MeetMeetingDetail": {
        "type": "object",
        "properties": {
          "meeting": {
            "$ref": "#/components/schemas/MeetMeeting"
          },
          "sessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetSession"
            }
          },
          "invites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetInvite"
            }
          }
        }
      },
      "MeetSession": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ses_…"
          },
          "meeting_id": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "ended_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "locked": {
            "type": "boolean"
          },
          "host_present": {
            "type": "boolean"
          },
          "recording": {
            "type": "string",
            "enum": [
              "off",
              "on",
              "stopping"
            ]
          },
          "participants": {
            "type": "integer",
            "nullable": true
          },
          "seq": {
            "type": "integer",
            "description": "The state channel's version number. It moves on every state write; a browser polls with ?since= and is answered 304 while it has not."
          }
        }
      },
      "MeetInvite": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "participant",
              "cohost"
            ]
          },
          "rsvp": {
            "type": "string",
            "nullable": true,
            "enum": [
              "yes",
              "no",
              "maybe",
              null
            ]
          },
          "sent_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MeetEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "at": {
            "type": "string",
            "format": "date-time"
          },
          "kind": {
            "type": "string",
            "example": "admit",
            "description": "join, knock, admit, deny, mute, remove, lock, share_start, share_stop, record_start, record_stop, leave, start, end, reaction"
          },
          "actor": {
            "type": "string",
            "nullable": true
          },
          "target": {
            "type": "string",
            "nullable": true
          },
          "detail": {
            "type": "object",
            "nullable": true
          }
        }
      },
      "MeetAuditEntry": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MeetEvent"
          },
          {
            "type": "object",
            "properties": {
              "event": {
                "type": "string",
                "description": "The same string as `kind`, under the name every other audit table in the console reads"
              },
              "session_id": {
                "type": "string"
              },
              "meeting_id": {
                "type": "string"
              },
              "title": {
                "type": "string"
              }
            }
          }
        ]
      },
      "MeetRecording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "mrc_…"
          },
          "session_id": {
            "type": "string"
          },
          "meeting_id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "recording",
              "composing",
              "ready",
              "failed"
            ],
            "description": "recording while the meeting runs, composing while the node makes one picture out of the per-participant files, ready once it is a video"
          },
          "bytes": {
            "type": "integer"
          },
          "duration_ms": {
            "type": "integer"
          },
          "vod": {
            "type": "object",
            "nullable": true,
            "properties": {
              "asset_id": {
                "type": "string"
              },
              "playback_url": {
                "type": "string"
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "ready_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MeetOverview": {
        "type": "object",
        "properties": {
          "live_sessions": {
            "type": "integer"
          },
          "minutes_today": {
            "type": "integer"
          },
          "meetings_scheduled": {
            "type": "integer"
          },
          "recordings_pending": {
            "type": "integer"
          },
          "live": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MeetSession"
            }
          },
          "meetings": {
            "type": "integer"
          },
          "recordings": {
            "type": "integer"
          },
          "usage": {
            "$ref": "#/components/schemas/MeetUsageMonth"
          },
          "limits": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "0 means unmetered"
          },
          "host": {
            "type": "string"
          }
        }
      },
      "MeetUsageMonth": {
        "type": "object",
        "properties": {
          "sessions": {
            "type": "integer"
          },
          "minutes": {
            "type": "integer"
          },
          "rec_bytes": {
            "type": "integer"
          },
          "rec_gb": {
            "type": "number"
          }
        }
      },
      "MeetUsage": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "day": {
                  "type": "string"
                },
                "sessions": {
                  "type": "integer"
                },
                "participant_minutes": {
                  "type": "integer"
                },
                "rec_bytes": {
                  "type": "integer"
                }
              }
            }
          },
          "quota": {
            "type": "object",
            "additionalProperties": {
              "type": "integer"
            },
            "description": "0 means unmetered"
          },
          "usage": {
            "type": "object",
            "additionalProperties": {
              "type": "number"
            }
          },
          "month": {
            "$ref": "#/components/schemas/MeetUsageMonth"
          },
          "live": {
            "type": "integer",
            "description": "Sessions running right now"
          }
        }
      },
      "MeetSettings": {
        "type": "object",
        "properties": {
          "settings": {
            "type": "object",
            "properties": {
              "waiting_room": {
                "type": "boolean",
                "description": "Everybody who is not the host waits until a host lets them in"
              },
              "guests_allowed": {
                "type": "boolean",
                "description": "Whether somebody without a YunZheng account may join with a name"
              },
              "mute_on_entry": {
                "type": "boolean"
              },
              "cam_off_on_entry": {
                "type": "boolean"
              },
              "chat": {
                "type": "boolean"
              },
              "reactions": {
                "type": "boolean"
              },
              "share_policy": {
                "type": "string",
                "enum": [
                  "anyone",
                  "host_only",
                  "host_approve"
                ]
              },
              "record_policy": {
                "type": "string",
                "enum": [
                  "off",
                  "host",
                  "auto"
                ]
              },
              "host_must_join_first": {
                "type": "boolean"
              },
              "locked_default": {
                "type": "boolean"
              },
              "city": {
                "type": "string",
                "nullable": true,
                "description": "Which city the meeting's rooms prefer. A preference, not a pin: a full city is fallen back from rather than refused."
              }
            }
          },
          "cities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "city": {
                  "type": "string"
                },
                "accepting": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "MeetSettingsPatch": {
        "type": "object",
        "properties": {
          "waiting_room": {
            "type": "boolean",
            "description": "Everybody who is not the host waits until a host lets them in"
          },
          "guests_allowed": {
            "type": "boolean",
            "description": "Whether somebody without a YunZheng account may join with a name"
          },
          "mute_on_entry": {
            "type": "boolean"
          },
          "cam_off_on_entry": {
            "type": "boolean"
          },
          "chat": {
            "type": "boolean"
          },
          "reactions": {
            "type": "boolean"
          },
          "share_policy": {
            "type": "string",
            "enum": [
              "anyone",
              "host_only",
              "host_approve"
            ]
          },
          "record_policy": {
            "type": "string",
            "enum": [
              "off",
              "host",
              "auto"
            ]
          },
          "host_must_join_first": {
            "type": "boolean"
          },
          "locked_default": {
            "type": "boolean"
          },
          "city": {
            "type": "string",
            "nullable": true,
            "description": "Which city the meeting's rooms prefer. A preference, not a pin: a full city is fallen back from rather than refused."
          }
        }
      },
      "MeetEnded": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "ended": {
            "type": "integer",
            "description": "How many running sessions were stopped"
          }
        }
      },
      "MeetRecompose": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "composing"
            ]
          }
        }
      },
      "Org": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "org_…"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true,
            "description": "A URL-shaped handle, lowercase and hyphenated"
          },
          "plan": {
            "type": "string"
          },
          "owner_email": {
            "type": "string",
            "description": "The principal every resource in this organisation actually hangs off"
          },
          "apps": {
            "type": "object",
            "properties": {
              "mail": {
                "type": "boolean"
              },
              "meet": {
                "type": "boolean"
              }
            },
            "description": "Which applications members may open. Absent keys are on."
          },
          "me": {
            "type": "object",
            "nullable": true,
            "properties": {
              "role": {
                "type": "string",
                "enum": [
                  "owner",
                  "admin",
                  "member"
                ]
              },
              "state": {
                "type": "string",
                "enum": [
                  "active",
                  "invited",
                  "suspended"
                ]
              },
              "can_administer": {
                "type": "boolean"
              }
            }
          },
          "counts": {
            "type": "object",
            "properties": {
              "members": {
                "type": "integer"
              },
              "invites": {
                "type": "integer"
              },
              "domains": {
                "type": "integer"
              }
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrgPatch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          }
        }
      },
      "OrgMember": {
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "nullable": true,
            "description": "The IdP subject. Null only for a row whose person has never signed in."
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "owner",
              "admin",
              "member"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "invited",
              "suspended"
            ]
          },
          "owner": {
            "type": "boolean"
          },
          "joined_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "OrgMemberPatch": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member"
            ]
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ]
          }
        }
      },
      "OrgInvite": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "inv_…"
          },
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member"
            ]
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "expired": {
            "type": "boolean"
          },
          "sent_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "send_error": {
            "type": "string",
            "nullable": true
          },
          "invited_by": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrgInviteCreate": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "member"
            ],
            "default": "member"
          }
        }
      },
      "OrgInviteCreated": {
        "type": "object",
        "properties": {
          "invite": {
            "$ref": "#/components/schemas/OrgInvite"
          },
          "sent": {
            "type": "boolean",
            "description": "Whether the invitation mail left the platform. The invitation exists either way."
          }
        }
      },
      "OrgApps": {
        "type": "object",
        "properties": {
          "mail": {
            "type": "boolean"
          },
          "meet": {
            "type": "boolean"
          }
        }
      },
      "OrgDomain": {
        "type": "object",
        "properties": {
          "domain": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "example": "mail"
          },
          "verified": {
            "type": "boolean"
          },
          "verified_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "StorageDestination": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "dst_…"
          },
          "name": {
            "type": "string"
          },
          "endpoint": {
            "type": "string"
          },
          "region": {
            "type": "string"
          },
          "bucket": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "access_key_hint": {
            "type": "string"
          },
          "auto_meet": {
            "type": "boolean",
            "description": "Every finished Meet recording is copied here"
          },
          "verified": {
            "type": "boolean"
          },
          "verified_at": {
            "type": "string",
            "nullable": true
          },
          "last_error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          }
        }
      },
      "StorageDestinationCreate": {
        "type": "object",
        "required": [
          "endpoint",
          "bucket",
          "access_key",
          "secret_key"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "endpoint": {
            "type": "string",
            "example": "https://<account id>.r2.cloudflarestorage.com"
          },
          "region": {
            "type": "string",
            "default": "auto"
          },
          "bucket": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "access_key": {
            "type": "string"
          },
          "secret_key": {
            "type": "string",
            "writeOnly": true
          }
        }
      },
      "StorageDestinationPatch": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "prefix": {
            "type": "string"
          },
          "access_key": {
            "type": "string"
          },
          "secret_key": {
            "type": "string",
            "writeOnly": true
          },
          "auto_meet": {
            "type": "boolean"
          }
        }
      },
      "StorageCopy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "destination_id": {
            "type": "string"
          },
          "source": {
            "type": "string",
            "enum": [
              "meet_recording"
            ]
          },
          "source_id": {
            "type": "string"
          },
          "key": {
            "type": "string"
          },
          "bytes": {
            "type": "integer"
          },
          "done_bytes": {
            "type": "integer"
          },
          "state": {
            "type": "string",
            "enum": [
              "queued",
              "copying",
              "done",
              "failed"
            ]
          },
          "attempts": {
            "type": "integer"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string"
          },
          "done_at": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "VgatePbx": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "domain": {
            "type": "string",
            "description": "the PBX's SIP domain"
          },
          "city": {
            "type": "string"
          },
          "node_host": {
            "type": "string",
            "description": "the registrar and WebRTC host for this PBX's location"
          },
          "timezone": {
            "type": "string"
          },
          "language": {
            "type": "string",
            "enum": [
              "en",
              "zh"
            ]
          },
          "template": {
            "type": "string"
          },
          "state": {
            "type": "string",
            "enum": [
              "active",
              "suspended"
            ]
          },
          "suspended_reason": {
            "type": "string",
            "nullable": true,
            "enum": [
              "fraud",
              "daily-spend",
              "balance",
              "admin",
              null
            ]
          },
          "settings": {
            "$ref": "#/components/schemas/VgateSettings"
          },
          "registrations": {
            "type": "integer"
          },
          "created_at": {
            "type": "string"
          },
[...]
